<div class="wrapper">
<% @results.each do |result| %>
<div class="container">
<p class="tuk">
<%= result.Sentence %></p>
<p class="sentence">
	<%=highlight(result.Translation,params[:search])%>
</p>
<p class="transliration"><%=result.Transliteration %></p>
</div>
<% end %>
</div>
