<div class="wrapper">
<% @results.each do |result| %>
<div class="container">
<p class="tuk">
<%= result.Sentence %></p>
<p class="sentence">
<% @str.each do |word|%>
	<%=highlight(result.Translation, word)%>
<% end %>
</p>
	<!--<p class="transliration"><%=result.Transliteration %></p>-->
</div>
<% end %>
</div>
